
# Output directories
build/
build-*/
bin/
obj/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Python
__pycache__/

# Download cache
__download_cache__/

# Compiled shaders
*.spv
*.d
